@charset "utf-8";

.portfolio{display:block; position:relative; margin:0 auto 1px; padding:10px 0; width:100%; border-top:1px solid #999999; border-bottom:1px solid #999999;}
.portfolio .readmore{display:block; text-align:right;}
.portfolio .fl_left{display:block; float:left; width:350px; margin:50px 0 0 0; line-height:1.6em;}
.portfolio .fl_right{display:block; float:right; width:500px;}
.portfolio .fl_right img{display:block; width:470px; height:auto; padding:5px; border:10px solid #E0E0E0;}
.portfolio .fl_right img:hover{border-color:#B4B4B4;}
.portfolio .spacer{clear:both; padding:8px 0; line-height:normal;}
.portfolio .last{margin-bottom:0;}
.portfolio .last .spacer{padding-bottom:0;}
.portfolio .last .fl_left{margin-bottom:0;}
.portfolio .last .fl_right{margin-bottom:0;}
.portfolio .last .fl_right img{margin-bottom:0;}
.portfolio .last .readmore{margin-bottom:0;}
